<div class="text-center">
  <% @feeds.each do |feed| %>
    <div class="feed">
      <h3>
        <%= feed[:text] %>
      </h3>

      <p class="text-secondary"> <%= feed[:likes_count] %> ♥ | posted at: <%= feed[:created_at] %></p>

      <div>
        <%= image_tag feed[:image_url], class: 'img-responsive img-rounded' %>
      </div>

      <hr>
    </div>
  <% end %>
</div>
